.options {
    display: block;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
}

.option{
    display: flex;
    align-items: center;
    margin-bottom: 8px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
}

.switch-checkbox {
    display: none;
}

.switch-label {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 34px;
    background-color: #ccc;
    position: relative;
    cursor: pointer;
}

.switch-label::after {
    content: '';
    position: absolute;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background-color: #fff;
    top: 4px;
    left: 4px;
    transition: left 0.3s;
}

.switch-checkbox:checked + .switch-label {
    background-color: #007bff;
}

.switch-checkbox:checked + .switch-label::after {
    left: 50%;
}
