.player-container {
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
    gap: 30px;
    margin-left: 40px;
    margin-right: 40px;
}

.image-column {
    flex: 1; 
    max-width: 50%;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.image-column img {
    max-width: 100%;
    height: auto;
}
