<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="static/index.css">
    </head>

    <body>
        <div class="container">
            <div class="card">
                <h3>Upload Video</h3>
                <div class="drop_box">
                    <header>
                        <h4>Select Video here</h4>
                    </header>
                    <p>Supported Formats: mp3, mp4</p>
                    <input type="file" accept=".mp3, .mp4" id="fileID" style="display:none;">
                    <button class="btn" onclick="document.getElementById('fileID').click()">Choose Video</button>
                </div>
            </div>
        </div>
    </body>
</html>
