.video-card, .image-card {
    max-width: calc(100% - 20px);
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 260px;
    background-color: #ffffff;
    padding: 10px 30px 40px 30px;
    margin-bottom: 50px;
    margin-right: 30px;
  }
  
.video-card h3, .image-card h3 {
  font-size: 22px;
  font-weight: 600;
}

.drop_box {
  margin: 10px 0;
  padding: 30px;
  padding-bottom: 23px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2.5px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.custom-file-upload {
  text-decoration: none;
  background-color: #007bff;
  background-image: linear-gradient(to bottom, #007bff, #0056b3);
  color: #ffffff;
  padding: 10px 20px;
  border-radius: 10px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
}

.custom-file-upload:hover{
  text-decoration: none;
  background-color: linear-gradient(to bottom, #0056b3, #003d6e);
  padding: 10px 20px;
  border: none;
  box-shadow: 0px 0px 5px 5px rgba(165, 184, 204, 0.5);
  cursor: pointer;
  transition: background-image 0.3s ease;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}