@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fcfcfc;
  margin-top: 30px;
}

.uploaders{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.configurations{
  display: flex;
  flex-direction: row;
  align-items: top;
  margin-left: 30px;
}

.configurations h{
  font-size: large;
  font-weight: 500;
}
/* 
.video-container {
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%; 
  margin: auto;
}

#videoPlayer {
  width: 100%;
  max-width: 100%; 
  height: auto; 
} */
