.option{
  display: flex;
  margin-right: 30px;
  margin-top: 10px;
  grid-template-columns: 1em auto;
  gap: 0.5em;
  align-items: center;
  cursor: pointer;
}

#KeypointsCheckbox, #BoxesCheckbox {
  width: 20px;
  height: 20px; 
  accent-color: #007bff;
}

.switch-label {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  background-color: #ccc;
  border-radius: 34px;
  cursor: pointer;
}

.switch-label::after {
  content: '';
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #fff;
  top: 4px;
  left: 4px;
  transition: left 0.3s;
}

.switch-radio {
  position: absolute;
  left: -9999px;
}

.switch-radio:checked + .switch-label {
  background-color: #007bff;
}

.switch-radio:checked + .switch-label::after {
  left: calc(100% - 30px);
}
